.button {
    background-color:rgb(152, 166, 255);
    padding: 15px 55px;
    color: #000000;
    margin: 5px;
    border: 0px;
    border-radius: 7px;
    transition: 0.25s ease-in-out;
    font-size: 20px;
    font-weight: bold;
    unicode-bidi: isolate;
}

.active {
    background-color: rgb(44, 9, 125);
    color: aliceblue;
}