.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  width: 90%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.header {
  background-color: rgb(152, 166, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 4rem;
  width: 100%;
  font-family: "Special Gothic Expanded One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #262323;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input {
  border: 0px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  border-radius: 10px;
  width: 400px;
  height: 50px;
  font-size: 25px;
  margin: 10px;
  background-color: rgb(152, 166, 255);
  color: #fff;
  outline: none;
  border: 1px solid black;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

input::placeholder {
  color: #282c34;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

input:focus {
  border: 1px solid #ccc;
}